<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>headway-simulator</title>
    <meta name="description" content="Lovable Generated Project" />
    <meta name="author" content="Lovable" />

    <meta property="og:title" content="headway-simulator" />
    <meta property="og:description" content="Lovable Generated Project" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://lovable.dev/opengraph-image-p98pqg.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Lovable" />
    <meta name="twitter:image" content="https://lovable.dev/opengraph-image-p98pqg.png" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='vecteezy_record-disk-clipart-design-illustration_9303633.ico') }}" />
    <script type="module" crossorigin src="{{ url_for('static', filename='assets/index-cG6lHxB-.js') }}"></script>
    <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='assets/index-_X7CH1O8.css') }}">
    
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
